:root {
  text-align: center;
}
body{ 
  background-color: aliceblue;
  margin: 0;
  font-family: Atkinson Hyperlegible;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexTileDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.panelItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;

  background-color: palevioletred;
  padding: 10px;
}
img {
  width: 80%;
  border-radius: 10px;
}